.main-div {
    position: relative;
}

.parent-clouds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: -800px;
    z-index: -10;
    padding: 0;
    margin: 0;
}

.cloud img {
    height: 150px;
}

.parent-bigclouds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    position: absolute;
    top: -790px;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.bigcloud img {
    height: 250px;
}

.parent-earth {
    position: relative;
}

.parent-earth img {
    position: absolute;
    height: 200px;
    top: -750px;
    left: 90px;
    z-index: -100;
}

.parent-comet {
    position: relative;
}

.parent-comet img {
    position: absolute;
    top: -500px;
    left: 1300px;
    z-index: 100000;
}

.parent-astronaut {
    position: relative;
}

.parent-astronaut img {
    position: absolute;
    top: -400px;
    left: 1240px;
    transform: rotate(20deg);
}

.parent-astronaut2 {
    position: relative;
}

.parent-astronaut2 img {
    position: absolute;
    top: -300px;
    left: 1300px;
    transform: rotate(-20deg);
}