body {
    background-color: black;
}

.chess-board {
    height: 700px;
    width: 700px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 87.5px);
    grid-template-rows: repeat(8, 87.5px);
    color: #9a7a05;
    border-radius: 10px;
    border: 4px solid #FF9F1C;
}